body {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    background-color: aliceblue;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

.warning {
    color: red;
}